<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单</title>
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css">
    <script src="../layui/layui.js" type="text/javascript" charset="UTF-8"></script>
    <script src="../js/jquery-3.5.1.min.js" type="text/javascript" charset="UTF-8"></script>

    <script type="text/javascript">
        /*导航依赖element模块*/
        var layer, form;
        $(function () {
            layui.use('form', 'layer', function () {
                form = layui.form;
                layer = layui.layer;

            });
        });

    </script>
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-inline">
            <input type="text" name="title" class="layui-input" required
                   lay-verify="required" placeholder="请输入标题" autocomplete="off">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">城市</label>
        <div class="layui-input-inline">
            <select name="city" id="city">
                <option value="">请选择一个城市</option>
                <option value="1">上海</option>
                <option value="2">北京</option>
                <option value="3">成都</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">爱好</label>
        <div class="layui-input-block">
            <input type="checkbox" name="hobby" title="唱" checked>
            <input type="checkbox" name="hobby" title="跳">
            <input type="checkbox" name="hobby" title="Rap">
            <input type="checkbox" name="hobby" title="篮球">
            <hr/>
            <input type="checkbox" name="hobby" title="唱" lay-skin="primary">
            <input type="checkbox" name="hobby" title="跳" lay-skin="primary">
            <input type="checkbox" name="hobby" title="Rap" lay-skin="primary">
            <input type="checkbox" name="hobby" title="篮球" lay-skin="primary">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">开关</label>
        <div class="layui-input-inline">
            <input type="checkbox" name="title" lay-skin="switch" lay-text="🐕|🐖">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">单选框</label>
        <div class="layui-input-inline">
            <input type="radio" name="radio" title="人">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">简介</label>
        <div class="layui-input-inline">
            <textarea name="remark" required lay-verify="required" placeholder="请输入个人简介"
                      class="layui-textarea"></textarea>
        </div>
    </div>

    <!--组装行内表单
        class="layui-inline"
        class="layui-input-inline"-->
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">范围</label>
            <div class="layui-input-inline">
                <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline">
                <input type="text" name="price_max" placeholder="￥" autocomplete="off" class="layui-input">
            </div>


            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
</html>